/node_modules
/public/hot
/public/storage
/public/app-assets
/public/assets
/storage/*.key
/vendor
*.env
/app/Logics/Hosted/lost/.env
/.idea
/.vscode
/.vagrant
*.zip
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
